.Driver{
    margin: 2px;
    border: 2px solid #0f0;
}

.info{
    padding-bottom: 5px;
    padding-top: 3px;
    padding-left: 20px;
}

.tags{
    display: inline;
}

.tags-span{
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
    font-weight: bold;
    background: #0ae;
    border-radius: 3px;
    font-size: 12px;
}

.tags-none{
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
    font-weight: bold;
    background: #bbb;
    border-radius: 3px;
    font-size: 12px;
}

.delete-span{
    padding-right: 3px;
    padding-left: 3px;
    color: #fff;
    font-weight: bold;
    background: #f00;
    border-radius: 3px;
    font-size: 12px;
}
